@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
body p {
  font-size: 1.6rem;
}
img {
  width: 100%;
}
a{
  text-decoration : none;
}
li{
  list-style: none;
}
/* 背景画像 */
.fv {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 520px;
  object-fit: cover;
  object-position: center 5%;
}
.mask{
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: none;
  height: 520px;
}
/* header */
header{
  border-bottom: 0.5px solid #44403F;
  height: 90px;
}
.header-inner{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-items li:last-child{
  background: #40B1D0;
  border-radius: 5px;
  padding: 5px 5px;
}
.nav-items-item a{
  font-size: 1.3rem;
  color: #fff;
  margin: 0 10px;
}

/* main */
#main{
  margin: 100px 0;
}
h1{
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
#main p{
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}
#main a{
  background: #40B1D0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.3rem;
}
.sp{
  display:none; /* sp表示はpcで非表示*/
}

/* レスポンシブ */
@media screen and (max-width:1100px) {
  .sp{
    display: block;
  }
  /* メニューリスト表示 */
  .header-nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #807e7e; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
  }
  .nav-list{
    display: block;
    margin: 100px auto 0;
    width: 80%;
  }
  .nav-items li:last-child{
    background: none;
    padding: 0;
  }
  .nav-items-item a {
    display: block;
    text-align: start;
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .nav-items-item a:hover {
    text-decoration: underline;
  }
  .nav-items-item:last-child a {
    margin-bottom: 0;
  }
  /* ハンバーガー ボタン */
  .header-hamburger {
    width: 48px;
    height: 100%;
  }
  .hamburger {
    background-color: #40B1D0; /*buttonタグデフォルトスタイルを打ち消し*/
    border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
  }
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  .hamburger span:nth-child(3) {
    top: 0;
  }
  /* ハンバーガーメニュークリック後のスタイル */
  .header-nav.active {
    transform: translateX(0);
  }
  .hamburger.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: -8px;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width:760px) {
  .menu-list {
    padding: 10px 15px;
    }
  .menu-list li{
    margin: 0;
    padding: 0%;
  }
  .menu-list img{
    width: 80%;
  }
}
@media screen and (max-width:485px) {
  h1{
    font-size: 2.5rem;
  }
}