@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
p,a,li,strong,table{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
a{
  text-decoration : none;
}
li{
  list-style: none;
}
/* 全体    *******************************************/
.container{
  width: 85%;
  margin: 80px auto 100px;
}
/* タイトル *******************************************/
.title p{
  font-size: 1.3rem;
  margin-bottom: 35px;
  text-align: center;
  position: relative;
  font-style: italic;  /*文字斜め*/
  font-family: 'Raleway', sans-serif; /*フォント*/
}
.title p::after{
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%,-50%);
  content: '';
  width: 29px;
  height: 4px;
  background-color: #277DE1;
}
.title h1{
  font-size: 3.3rem;
    margin: 0 0 35px;
    text-align: center;
}

/* 表 ******************************************/
table{
  margin: 0 auto;            /*中央寄せ*/
  border-collapse: collapse; /*重なった線を消す*/
}
.table2 th{
  background: #F5F7F9;
  width: 130px;
  height: 33px;
  padding: 15px;
  text-align: center;
  border: 3px solid #EEF1F0;
}
.table2 td{
  width: 615px;
  height: 33px;
  padding: 25px 20px;
  text-align: start;
  color:  #53586F;
  border: 3px solid #EEF1F0;
}
@media screen and (max-width:650px) {
  .table2 th,.table2 td{
    display: block;
    width: 100%;
    height: auto;
  }
  .table2 th{
    padding: 13px;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
  }
  table tr:first-child th{
    border-top: 3px solid #EEF1F0;
  }
  .table2 td{
    padding: 30px;
    box-sizing: border-box;
  }
}
