@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #5e5e5e;
}

li {
  list-style: none;
}

ul,
li {
  padding: 0;
}

/* 全体    ***************************************************/
.container {
  max-width: 1300px;
  margin: 80px auto;
  padding: 50px 0px;
}

/* 上部メニュー ***********************************************/
.wrapper {
  background-color: #D6F8FF;
  padding: 50px 50px 0;
}

/* logo ********/
.logo {
  float: left;
  width: 300px;

}

h1 {
  margin: 0;
}

h1 a {
  color: #3AA3CD;
  font-size: 3.0rem;
}

/* btn *********/

.btn {
  float: right;
  width: 300px;
  text-align: center;
}

.btn1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(#00c1aa, #039fb1);
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
}

.btn2 {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #2fa7ca;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  margin-right: 10px;
}

.btn3 {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #2fa7ca;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
}

/* link *********/

.link {
  width: calc(100% - 600px);
  display: flex;
  justify-content: space-around;

}

.link1,
.link2 {
  flex: 1;
}

.link a {
  display: block;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;

}

.left {
  padding-left: 20px;

}

/* icon ***********/
.fa-play,
.fa-circle-play,
.fa-envelope,
.fa-file-arrow-down {
  color: #0A96BF;
  margin-right: 8px;
}

.fa-envelope,
.fa-file-arrow-down {
  font-size: 1.8rem;
}

.fa-circle-play.fa-white {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.fa-play {
  font-size: 1.2rem;
}

/* 下部メニュー ********************************************************/
.footer-menu-copy {
  display: flex;
  justify-content: space-between;
  background-color: #BDF0F9;
  padding: 0 50px 0 30px;
  align-items: center;
}

.footer-menu ul {
  display: flex;
}

.footer-menu li {
  padding: 0 20px;
  border-right: 1px solid #666666;
  display: inline-block;
}

.footer-menu li:last-child {
  border-right: 0;
}

.footer-menu li a {
  font-size: 1.3rem;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

.fa-copy {
  margin-left: 8px;
}

.footer-copy p {
  font-size: 1.3rem;
}

/* レスポンシブ *****************************************************/
.sp {
  display: none;
}

@media screen and (max-width:1000px) {
  .sp {
    display: block;
  }

  .wrapper {
    padding: 0;
  }

  .btn,
  .link,
  .logo {
    float: none;
  }

  /* logo ********/
  .logo {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  /* btn ********/
  .btn {
    display: flex;
    width: calc(100% - 60px);
    margin: 0 auto ;
    padding: 30px;
  }

  .btn1,
  .btn2,
  .btn3 {
    margin: 0 10px 0 0;
  }

  .btn1 {
    padding: 10px 0;
    width: 54%;
  }

  .btn-flex {
    width: 56%;
  }

  .btn2,
  .btn3 {
    padding: 10px 0;
  }

  /* link ********/
  .link {
    flex-direction: column;
    width: 100%;
  }

  .link1,
  .link2 {
    margin: 0;
  }

  .link-sp {
    display: flex;
    flex-flow: row wrap;
  }

  .link-sp li {
    width: 50%;
  }

  .link a {
    border-top: #7ed8eb solid 1px;
    margin: 0;
    padding: 15px 0px 15px 30px;
  }

  .link-sp li:nth-child(2) a,
  .link-sp li:nth-child(4) a {
    border-left: #7ed8eb solid 1px;
    padding-left: 20px;
  }

  .link2 li:last-child {
    border-bottom: #7ed8eb solid 1px;
  }

  /* icon *****/
  .fa-envelope,
  .fa-file-arrow-down {
    margin: 0 0 7px;
  }

  /* 下部メニュー **************/
  .footer-menu-copy {
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    padding: 0;
  }

  .footer-menu ul {
    margin: 30px 0 10px;
    flex-wrap: wrap;
  }

  .footer-menu li {
    width: fit-content;
    margin: 0 0 5px;
  }

  .footer-copy p {
    margin: 0 0 30px;
    padding-left: 20px;
  }
}