@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #5e5e5e;
}
p{
  margin: 0;
}
li {
  list-style: none;
}
ul,li {
  padding: 0;
}
/* 全体    **************************************************/
.container {
  margin: 40px auto;
  padding: 40px 0;
}
/* 背景 */
.bg{
  background-image: url(img/no18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mask{
  background-color: rgba(0,0,0,0.7);
    backdrop-filter: none;
}
/* メニュー */
nav ul{
  writing-mode: vertical-rl;
    display: block;
    margin: 0 auto;
}
nav ul li{
  margin: 0 55px;
  color: #fff;
}
/* プライバシーポリシー */
.privacy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
}
.privacy p{
  margin: 0 20px;
  color: #fff;
}
/* フッター */
.footer{
  text-align: center;
  color: #fff;
}
/* ロゴ */
.logo{
  width: 110px;
  margin: 30px auto 50px;
  position: relative;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex p{
  color: #fff;
  font-weight: 100;
}
.flex1{
  margin-bottom: 60px;
}
.flex2{
  margin-bottom: 10px;
}
.name,.place{
  text-align: center;
  color: #fff;
}
.maru{
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.maru1{font-size: 2.8rem;
  text-align: center;
  line-height: 1.9;
  color: #fff;
  font-weight: bold;
}
.maru2{
  font-size: 1.0rem;
  text-align: center;
  line-height:0;
  color: #fff;
}
@media screen and (max-width:500px){
  nav ul li{
    margin: 0 30px;
  }
  .privacy{
    display: block;
    text-align: center;
  }
}