@charset "UTF-8";
html{
  font-size: 62.5%;
}
body {
    margin: 0;
    background-color: whitesmoke;
}
body p{
  color: #333;
  font-size: 1.6rem;
}
li {
    list-style: none;
}

/* header部分 *********************************/
header p{
  margin: 10px;
}

/* main部分 ***********************************/
.container {
    max-width: 1200px;
    text-align: center;
    margin: 70px auto;
    position: relative;
}

/* タイトル ******************************/
h1 {
  margin-bottom: 80px;
  font-size: 3.0rem;
}
h3 {
  letter-spacing: 1.5px;
  color: gray;
  font-size: 1.8rem;
}
h3 span {
  color: red;
}

/* チャート *********************************/
.chart-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
}
.list {
  width: 30%;
  height: 225px;
  margin: 0 auto;
  display: table;
  border-radius: 15px;
  background:
    linear-gradient(45deg,#d1f6ff 25%,transparent 25%,transparent 75%,#d1f6ff 75%),
    linear-gradient(45deg,#d1f6ff 25%,transparent 25%,transparent 75%,#d1f6ff 75%);
  background-color: #e5f6f7;
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
  position: relative;
}
.list::after {
  position: absolute;
  content:
  '→';
  font-size: 2.0rem;
  top: 50%;
  right: -13.5%;
  transform: translate(-50%,-50%);
}
.list:last-child:after {
  content:'';
}
h2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 2rem;
}

.chart {
  display: flex;
  align-items: center;
}
.chart1 {
  position: absolute;
  top: -16%;
  left: 2.5%;
}
.chart2 {
  position: absolute;
  top: -16%;
  left: 2.5%;
}
.chart3 {
  position: absolute;
  top: -16%;
  left: 2.5%;
}
.num {
  font-size: 5.0rem;
  font-family: "Poppins", sans-serif;
  margin:0 0 0 5px;
}

/* レスポンシブ対応 ******************************/
@media screen and (max-width: 768px) {
  /* タイトル */
  h1 {
    margin-bottom: 60px;
  }
  /* チャート */
  .chart-wrapper {
    flex-direction: column;
  }
  .list {
    width: 80%;
    margin: 15px auto 100px;
  }
  .list::after {
    position: absolute;
    content:'↓';
    font-size: 2.0rem;
    top: 50%;
    right: -8%;
    transform: translate(-50% -50%);
  }
  .step1 {
    position: absolute;
    top: 13%;
    left: 13%;
  }
  .step2 {
    position: absolute;
    top: 42%;
    left: 13%;
  }
  .step3 {
    position: absolute;
    top: 71%;
    left: 13%;
  }

}