@charset "UTF-8";
html{
    font-size: 62.5%;
}
body {
    margin: 0;
}
body p{
    color: #333;
    font-size: 1.6rem;
}
img{
    width: 100%;
}
/* main部分 ***********************************/
.container {
    max-width: 1000px;
    margin: 100px auto;
    position: relative;
}
/* background **********************************/
.diamond {
  background: #775497;
  width: 230px;
  height: 230px;
  transform: rotate(45deg);
  position: absolute;
    top: 4%;
    left: 14%;
    z-index: 1;
}
.line {
  transform: rotate(49deg);
  transform-origin: 0% 0%;
  width: 459px;
  border: 0;
  border-top: 1px solid #432163;
  margin: -55px;
  padding: 0px;
  position: absolute;
    top: -5%;
    left: 33%;
}
.title{
  font-size: 6.2rem;
  font-family: "Times New Roman", a-otf-ryumin-pr6n, "ヒラギノ明朝 ProN W3", sans-serif;
  color: #DBD6DF;
  position: absolute;
  top: 30%;
  right: 13%;
  z-index: 0;
}
/* main *****************************************/
.wrapper{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.image{
  margin-right: 63px;
  /* text-align: end; */
  z-index: 5;
}
.image img{
  width: 217px;
  margin-left: 100px;
  padding-bottom: 30px;
}
.name{
  border-left:1.5px solid #432163
}
h1{
  font-size: 24px;
  font-weight: 600;
  font-family: adobe-caslon-pro, serif;
  color: #555555;
  margin: 0  0 27px;
  padding-top: 15px;
}
h2{
  font-size: 32px;
  font-weight: 500;
  font-family: "Times New Roman", a-otf-ryumin-pr6n, "ヒラギノ明朝 ProN W3", sans-serif;
  margin: 0 0 0 72px;
  color: #555555;
  position: relative;
    z-index: 9999;
}
.name p{
  font-size: 12px;
  margin-left: 160px;
  padding-bottom: 30px;
}

/* レスポンシブ対応 ******************************/
@media screen and (max-width: 768px) {
  .wrapper{
    flex-direction: column;
  }
  .image{
    margin: 0 auto;
  }
  .image img{
    width: 179px;
    margin: 0 auto;
  }
  .diamond{
    width: 200px;
    height: 200px;
  }
  .txt{
    margin: 0 auto;
  }
  .title{
    position: absolute;
    top: -15%;
    right: 13%;
    font-size: 4.6rem;
  }
}