@charset "UTF-8";
html{
    font-size: 62.5%;
}
body {
    margin: 0;
}
body p{
    color: #333;
    font-size: 1.6rem;
}
img{
    width: 100%;
}
/* main部分 ****************************/
.container {
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
    background-color: #E8E9FD;
    overflow: hidden;
    padding: 0px 0px 30px;
}
.title-wrapper{
  text-align: center;
}
h1{
  margin: 5px 0 5px;
  color: #666666;
  font-size: 2.8rem;
}
h2{
  color: rgb(130, 136, 242);
  margin: 0;
  padding: 66px 0  0;
  font-size: 1.8rem;
}
h3{
  margin: 8px 0 50px;
  font-size: 2.1rem;
  color: #333;
}
/* 画像部分*******************************/
.item-list{
  display: flex;
  justify-content: center;
  margin: 0 50px;
}
.item{
  width: 28%;
  margin: 0 20px;
}
.item img{
  height: 200px;
  border-radius: 20px;
}
h4{
  font-size: 2.2rem;
  margin: 20px 0;
  color: #333;
}
p{
  padding-right: 5%;
}
/* ライン部分*****************************/
.line{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: -10%;
  transform: rotate(45deg);
  gap: 10px;
}
hr {
  width: 260px;
  height: 31px;
  border: none;
  background-color: rgb(97,98,226,0.6);
}
/* レスポンシブ対応************************************/
@media screen and (max-width: 768px){
  .item-list{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .item{
    width: 90%;
    height: auto;
    margin: 0 auto 50px;
  }
  .item img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .line{
    bottom: -1%;
    position: absolute;
    left: -32%;
  }
}