@charset "UTF-8";
html{
  font-size: 62.5%;
}
body{
  color: #666666;
  font-weight: bold;
}
img{
  width: 100%;
}
/* header部分 ******************************/
header a {
  margin: 15px;
  font-size:  16px;
  display: block;
  font-weight: 100;
}
li {
    list-style: none;
}
/* 全体・タイトル部分 ******************************/
.container {
    max-width: 1200px;
    margin: 75px auto;
    position: relative;
    background-color: #E8E9FD;
    overflow: hidden;
    padding: 0px 20px 30px;
}
h1,h2,h3{
  text-align: center;
}
h1{
  margin: 5px 0 5px;
  color: #666666;
  font-size: 2.8rem;
}
h2{
  color: rgb(130, 136, 242);
  margin: 0;
  padding: 66px 0  0;
  font-size: 1.8rem;
}
h3{
  margin: 8px 0 50px;
  font-size: 2.1rem;
  color: #333;
}
/* 画像部分****************************************/
.item-list{
  display: flex;
  justify-content: center;
  margin: 0 50px;
}
.item{
  width: 28%;
  margin: 0 20px;
}
.item img{
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
h4{
  font-size: 2.2rem;
  margin: 20px 0;
  color: #333;
}
p{
  font-size: 1.6rem;
  padding-right: 5%;
}
/* ライン部分****************************************/
.line{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: -10%;
  transform: rotate(45deg);
  gap: 10px;
}
hr {
  width: 260px;
  height: 31px;
  border: none;
  background-color: rgb(97,98,226,0.8);
}
/* レスポンシブ対応************************************/
@media screen and (max-width: 768px){
  header a{
    display: block;
}
  .item-list{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .item{
    width: 90%;
    height: auto;
    margin: 0 auto 50px;
  }
  .item img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .line{
    bottom: -1%;
    position: absolute;
    left: -32%;
  }
}