@charset "UTF-8";
html{
    font-size: 62.5%;
}
body {
    margin: 0;
}
body p{
    color: #333;
    font-size: 1.6rem;
}
img{
    width: 100%;
}

/* header部分 *********************************/
header p{
    margin: 10px;
}

/* main部分 ***********************************/
.container {
    max-width: 1200px;
    margin: 75px auto;
    padding: 25px 35px;
}
.title-text{
  border-bottom: 2px solid #EDEEEF;
  padding-bottom: 30px;
  padding-left: 20px;
}
.title-text h1{
  font-size: 4rem;
  margin-bottom: 0;
  letter-spacing: 4px;
}
.title-text p{
  font-size: 1.6rem;
  color: gray;
  line-height: 1.7;
  margin-top: 10px;
}
.select select{
  background-color: #F0F1F2;
  margin: 30px 0 30px 100px;
  padding: 13px 22px 13px 12px;
  width: 320px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}
select::-ms-expand {
  display: block;
}
.card-list{
  display: flex;
  margin-left: 80px;
}
.card{
  width: 27%;
  margin:  0 20px 0;
  box-shadow: 0px 0px 12px 11px rgb(240 241 242 / 95%);
  background: transparent;
  border-radius: 15px;
  padding: 0 0 50px;
}
.card img{
  background: transparent;
  border-radius: 15px 15px 0 0;
}
.date{
  font-size: 1.3rem;
  margin: 20px 25px 10px;
  font-weight: bold;
  color: #535556;
}
.txt{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 25px;
}
/* レスポンシブ対応************************************/
@media screen and (max-width: 765px){
  /* メイン */
  .sp{
    display: none;
  }
  .title-text{
    padding-left: 10px;
    padding-bottom: 15px;
  }
  .select{
    text-align: center;
  }
  .container{
    padding: 20px;
  }
  .select select{
    width: 80%;
    margin: 30px auto;
  }
  .card-list{
    flex-direction: column;
    margin-left: 0;
  }
  .card{
    width: 80%;
    margin: 0 auto 50px;
  }
}