@charset "UTF-8";
html{
  font-size: 62.5%;
}
body{
  color: #333;
  margin: 0;
}
img{
  width: 100%;
}
/*************************************
header部分
*************************************/
header a{
  margin: 15px;
  font-size:  16px;
  display: block;
}
li{
    list-style: none;
}
/*************************************
全体
*************************************/
/* 全体幅 */
.container {
    max-width: 1200px;
    margin: 75px auto;
    padding: 25px 35px;
}
/*************************************
メイン部分
*************************************/
.title-text{
  border-bottom: 2px solid #EDEEEF;
  padding-bottom: 30px;
  padding-left: 20px;
}
.title-text h1{
  font-size: 3.0rem;
}
.title-text p{
  font-size: 1.6rem;
}
.select select{
  background-color: #F0F1F2;
  margin: 30px 0 30px 20px;
  padding: 13px 22px 13px 12px;
  width: 340px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.card-list{
  display: flex;
}
.card{
  width: 27%;
  margin:  0 20px 0;
  box-shadow: 0px 0px 12px 11px rgb(240 241 242 / 95%);
  background: transparent;
  border-radius: 15px;
  padding: 0 0 50px;
}
.card img{
  background: transparent;
  border-radius: 15px 15px 0 0;
}
.date{
  font-size: 1.6rem;
  margin: 20px 20px 10px;
}
.txt{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 20px;
}
/* レスポンシブ対応************************************/
@media screen and (max-width: 765px){
  /* headerのリンク */
  header a{
    display: block;
  }
  /* メイン */
  .title-text{
    padding-left: 10px;
    padding-bottom: 15px;
  }
  .select{
    text-align: center;
  }
  .container{
    padding: 20px;
  }
  .select select{
    width: 80%;
    margin: 30px auto;
  }
  .card-list{
    flex-direction: column;
  }
  .card{
    width: 80%;
    margin: 0 auto 50px;
  }
}